.goallist {
    font-family: "Courier New", Courier, monospace;
	color: gray;
    padding: 10px 10px 10px 20px;
}
.skills {
    font-family: "Courier New", Courier, monospace;
	color: gray;
    padding: 10px 10px 10px 20px;
}
.resume {
    font-family: "Courier New", Courier, monospace;
	color: gray;
    padding: 10px 10px 10px 20px;
}